


@mixin box-shadow($number){
  @if $number == 1{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  @if $number == 2{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  @else{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

@mixin minHeight($value){
  min-height:calc(100vh - $value);
}


@mixin for-size($size){
  @if $size == for-phone-only{
    @media (max-width:$for-phone-only){@content;}
  }
  @else if $size == for-tablet-portrait-up{
    @media (max-width:$for-tablet-portrait-up){@content;}
  }
  @else if $size == for-tablet-landscape-up{
    @media (max-width:$for-tablet-landscape-up){@content;}
  }
  @else if $size == for-desktop-up{
    @media (max-width:$for-desktop-up){@content;}
  }
  @else if $size == for-big-desktop-up{
    @media (max-width:$for-big-desktop-up){@content;}
  }
}


@mixin responsive-default{
  ///responsive
    flex-direction: column !important;
    align-items: stretch !important;
}
