:root{
  --color-grey:#eeeeee;
  --color-primary:#1564bf;
  --color-primary-dark:#003b8e;
  --color-primary-light:#5e91f2;


  --color-secondary:#e53935;
  --color-secondary-dark:#ab000d;
  --color-secondary-light:#ff6f60;

  --color-primary-text:white;
  --color-secondary-text:black;

}


$header-height:5rem;


//breakpoint
$for-phone-only:599px;
$for-tablet-portrait-up:600px;
$for-tablet-landscape-up:900px;
$for-desktop-up:1200px;
$for-big-desktop-up:1800px;
