
@for $i from 1 through 10{
  .p-#{$i}{
    padding:$i * 0.25rem;
  }
  .p-v-#{$i}{
    padding-left:$i * 0.25rem;
    padding-right:$i * 0.25rem;
  }
  .p-h-#{$i}{
    padding-top:$i * 0.25rem;
    padding-bottom:$i * 0.25rem;
  }
}
